@import "tailwindcss";

body {
	font-family: Inter;
}

@keyframes slideFadeIn {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-slideFadeIn {
	animation: slideFadeIn 0.4s ease-in-out;
}
