@import "tailwindcss";

body {
	font-family: Inter;
}

.spinner {
	border: 3px solid rgba(255, 255, 255, 0.1);
	border-top: 3px solid #ffffff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	animation: spinner 1s linear infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

input {
	outline: none;
}

input:focus {
	outline: none;
}

select:focus {
	outline: none;
}
