@import "tailwindcss";

body {
	font-family: Inter;
}

.spinner {
	border: 3px solid rgba(255, 255, 255, 0.1);
	border-top: 3px solid #ffffff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	animation: spinner 1s linear infinite;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

input {
	outline: none;
}

input:focus {
	outline: none;
}

select:focus {
	outline: none;
}

.custom-select {
	appearance: none;
	position: relative;
}

.custom-select-wrapper {
	position: relative;
	display: inline-block;
}

.custom-select-wrapper::after {
	content: "";
	background-image: url("./assets/arrow-down-s-line.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
}

.rotate-180 {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}
.rotate-0 {
	transform: rotate(0deg);
	transition: transform 0.3s ease;
}
